<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})"
>
<head>
  <title>File Uploader</title>
</head>

<body>
<section>
  <main>
    <div class="container">
      <div class="mt-1 alert alert-dark" role="alert" th:if="${message != null}" th:text="${message}"/>

      <h1>Upload large file</h1>

      <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file"><br><br>
        <input type="submit" value="Upload">
      </form>
    </div>
  </main>
</section>
</body>
</html>